// Example SCSS Variables
$primary-color: #F7931E;
$secondary-color: #11527E;
$black-color: #201D29;
$white-color: #FFFFFF;
$gray1-color: #C1C6CF;
$gray2-color: #C1C6CF;
$gray3-color: #67656B;

$font-family: 'Sinkin Sans', sans-serif;