<div class="about-main">
  <div class="about">

  </div>
  <div class="trending-job">
    <div class=" py-12 px-6 lg:px-20">
      <!-- Header Section -->
      <div class="text-center mb-10">
        <h2 class="text-4xl font-bold  tred-title">
          Trending <span class="text-orange-400">Jobs</span>
        </h2>
        <p class="mt-4 description  mx-auto">
          Discover the hottest career opportunities with our "Trending Jobs" feature. Stay ahead in the job market by
          exploring in-demand roles and industries. Your dream job could be just a click away!
        </p>
      </div>

      <!-- Job Cards Section -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

        <!-- Job Card -->
        <div class="p-6 card-custome">
          <div class="flex items-center justify-between mb-4">
            <div class="flex">
              <div class="img-logo">
                <img src="assets/icons/android.svg" alt="Software Engineer">
              </div>
              <div class="pl-2">
                <p class="number">JO0291</p>
                <p class="city">MUMBAI</p>
                <p class="date">Mar 21, 2022 03:56 PM</p>
              </div>
            </div>
            <div class="">
              <a mat-fab extended routerLink=".">
                <mat-icon>favorite</mat-icon>
              </a>
            </div>
          </div>
          <hr>
          <h3 class="ca-1 pt-4">Android Developer</h3>
          <p class="ca-2 pt-1">Software & IT Services</p>
          <p class="ca-2 pt-1">2-5 Years</p>
          <p class="ca-3 pt-2">
            ₹25,000 - ₹75,000 Per Month
          </p>
          <div class="card-fooer">
            <button class="card-detail-btn">
              Details
            </button>
            <button class="">
              <mat-icon>share</mat-icon>
            </button>
          </div>
        </div>

        <div class="p-6 card-custome">
          <div class="flex items-center justify-between mb-4">
            <div class="flex">
              <div class="img-logo">
                <img src="assets/icons/android.svg" alt="Software Engineer">
              </div>
              <div class="pl-2">
                <p class="number">JO0291</p>
                <p class="city">MUMBAI</p>
                <p class="date">Mar 21, 2022 03:56 PM</p>
              </div>
            </div>
            <div class="">
              <a mat-fab extended routerLink=".">
                <mat-icon>favorite</mat-icon>
              </a>
            </div>
          </div>
          <hr>
          <h3 class="ca-1 pt-4">Android Developer</h3>
          <p class="ca-2 pt-1">Software & IT Services</p>
          <p class="ca-2 pt-1">2-5 Years</p>
          <p class="ca-3 pt-2">
            ₹25,000 - ₹75,000 Per Month
          </p>
          <div class="card-fooer">
            <button class="card-detail-btn">
              Details
            </button>
            <button class="">
              <mat-icon>share</mat-icon>
            </button>
          </div>
        </div>

        <div class="p-6 card-custome">
          <div class="flex items-center justify-between mb-4">
            <div class="flex">
              <div class="img-logo">
                <img src="assets/icons/android.svg" alt="Software Engineer">
              </div>
              <div class="pl-2">
                <p class="number">JO0291</p>
                <p class="city">MUMBAI</p>
                <p class="date">Mar 21, 2022 03:56 PM</p>
              </div>
            </div>
            <div class="">
              <a mat-fab extended routerLink=".">
                <mat-icon>favorite</mat-icon>
              </a>
            </div>
          </div>
          <hr>
          <h3 class="ca-1 pt-4">Android Developer</h3>
          <p class="ca-2 pt-1">Software & IT Services</p>
          <p class="ca-2 pt-1">2-5 Years</p>
          <p class="ca-3 pt-2">
            ₹25,000 - ₹75,000 Per Month
          </p>
          <div class="card-fooer">
            <button class="card-detail-btn">
              Details
            </button>
            <button class="">
              <mat-icon>share</mat-icon>
            </button>
          </div>
        </div>

      </div>

      <!-- Browse More Section -->
      <div class="mt-10 text-center">
        <button class="px-8 py-3 bg-orange-500 text-white rounded-lg hover:bg-orange-600">
          Browse More
        </button>
      </div>
    </div>

  </div>
</div>