@font-face {
  font-family: "Sinkin Sans";
  src: url("sinkin-sans/SinkinSans-100Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Sinkin Sans";
  src: url("sinkin-sans/SinkinSans-100ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Sinkin Sans";
  src: url("sinkin-sans/SinkinSans-200XLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Sinkin Sans";
  src: url("sinkin-sans/SinkinSans-300Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sinkin Sans";
  src: url("sinkin-sans/SinkinSans-400Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sinkin Sans";
  src: url("sinkin-sans/SinkinSans-400Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Sinkin Sans";
  src: url("sinkin-sans/SinkinSans-800Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Sinkin Sans";
  src: url("sinkin-sans/SinkinSans-900XBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
