@import '../../../assets/styles/variables.scss';

.btn {
  padding: 10px 25px;
  border-radius: 8px;
  border: 1.5px solid #C1C6CF
}

.btn-one {
  color: $black-color;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.btn-second {
  background: $black-color;
  color: $white-color ;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin-left: 1rem;
}

.nav-title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-right: 2rem;
}